<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Register</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        html{
            padding:50px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1>My Profile</h1>
        <a href="/logout" class="btn btn-danger btn-sm">Logout</a>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <h3><span class="fa fa-user"></span> Welcome <%= user.username %></h3>

                <p>
                    <strong>id</strong> <%= user.id %> <br>
                    <strong>username</strong> <%= user.username %> <br>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>